{block content}
	{include "userOrdersHead.latte"}
	<br>
	<h2>Dokončené zákazky</h2>
	<div class="row">
		<div class="col-xs-12">
			{if count($closeOrders) > 0}
				<div class="table-responsive">
					<table class="table table-bordered text-center table-detail">
						{include tableHead}
						{include "ordersTable.latte" orders=>$closeOrders}
					</table>
				</div>
			{else}
				<p>Žiadne dokončené objednávky.</p>
			{/if}
		</div>
	</div>

	{define tableHead}
		<tr class="th-center">
			<th>Číslo objednávky</th>
			<th>ŠPZ</th>
			<th>Zákazník</th>
			<th>Typ auta</th>
			<th>Služby</th>
			<th>Cena</th>
			<th>Zadané</th>
			<th>V boxe</th>
			<th>Umyté</th>
			<th>Zaplatené</th>
		</tr>
	{/define}

	{include "back.latte"}
{/block}