{block content}
    {include "usersHead.latte"}
    <div class="row">
        <div class="col-xs-12">
            {foreach $groups as $group}
                {include "usersTable.latte" group=>$group, userId=>$userId}
            {/foreach}
        </div>
    </div>
{/block}