{block content}
    <div class="row">
        <div class="col-xs-12">
            <h1 n:block="title">Vymazanie zamestnanca {$user->username}</h1>
            </div>
        </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <table class="table table-bordered table-detail">
                <tr>
                    <th colspan="2">Údaje o zamestnancovi</th>
                </tr>
                <tr>
                    <td>Meno:</td>
                    <td>{$user->name}</td>
                </tr>
                <tr>
                    <td>Prihlasovacie meno:</td>
                    <td>{$user->username}</td>
                </tr>
                <tr>
                    <td>Posledné prihlásenie:</td>
                    <td>{$user->lastLogin->format('d.m.Y')} o {$user->lastLogin->format('H:i:s')}</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="col-xs-12 col-md-8">
            <p>Naozaj chcete používateľa <b>{$user->name}({$user->username})</b> vymazať?</p>
            </div>
            <div class="col-xs-12 col-md-4">
                {control deleteForm}
            </div>
        </div>
    </div>
{/block}