{block content}
    <div class="row">
        <div class="col-xs-12">
            <h1 n:block="title">Detail bývalého zamestnanca {$user->name} ({$user->username})</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="table-responsive">
                <table class="table table-bordered text-center table-detail">
                    <tr>
                        <td><b>Meno:</b></td>
                        <td>{$user->name}</td>
                    </tr>
                    <tr>
                        <td><b>Prihlasovacie meno:</b></td>
                        <td>{$user->username}</td>
                    </tr>
                    <tr>
                        <td><b>Bol zamestnaný v:</b></td>
                        <td>{$user->shop->name}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <h2>Prehľad zákaziek</h2>
    {include "orders.latte" closeOrders=>$closeOrders, uncloseOrders=>$uncloseOrders}
    {include "back.latte"}
{/block}