{block content}
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h1 n:block="title">Úprava zamestnanca</h1>
        </div>
            <div class="col-xs-4 text-right">
                {if $user->group->type == 1}
                    <a n:href="Users:userOrders $user->id" class="btn btn=default btn-primary" title="Objednávky">
                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                    </a>
                {/if}
                <a n:href="Users:changePassword $user->id" class="btn btn-default btn-primary"
                                                           title="Zmena hesla">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </a>
                <a n:href="Users:deleteUser $user->id" class="btn btn-default btn-primary" title="Vymazať">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
            </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <br/>
            {control userForm}
        </div>
    </div>

    {include "back.latte"}
{/block}