{block content}
    {include "userOrdersHead.latte"}
    <div class="row">
        {if count($ordersByDate) > 0}
            <div class="col-sm-10">
                <h2>Dokončené objednávky</h2>
            </div>
            <div class="col-sm-2">
                <a n:href="Export:exportOrdersByDay $user->id, $user->name" class="btn btn-primary pull-right">Export</a>
            </div>

            {foreach $ordersByDate as $orders }
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center table-detail">
                            <tr>
                                <th colspan="10">{$orders[0]->endDatetime->format('d.m.Y')}</th>
                            </tr>
                            {include tableHead}
                                <tr n:foreach="$orders as $order">
                                    {dump $order->order_number}
                                    <td>{$order->order_number}{$order->id}</td>
                                    <td>{$order->spz}</td>
                                    {*<td>{$order->customer->fname} {$order->customer->lname}</td>*}
                                    <td>{$order->customer->phone}</td>
                                    <td>{$order->car->name}</td>
                                    <td>{foreach $order->services as $service}
                                            {$service->name},
                                        {/foreach}
                                    </td>
                                    <td>{$order->price} €</td>
                                    <td class="no-max-width">{if $order->inBox}
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        {else}
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        {/if}
                                    </td>
                                    <td>{if $order->washed}
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        {else}
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        {/if}
                                    </td>
                                    <td>{if $order->paid}
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        {else}
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        {/if}
                                    </td>
                                </tr>
                        </table>
                    </div>
                </div>
            {/foreach}
        {else}
            <p>Žiadne dokončené objednávky.</p>
        {/if}
    </div>

    {define tableHead}
    <tr class="th-center">
        <th>Číslo objednávky</th>
        <th>ŠPZ</th>
        <th>Zákazník</th>
        <th>Typ auta</th>
        <th>Služba</th>
        <th>Cena</th>
        <th>V boxe</th>
        <th>Umyté</th>
        <th>Zaplatené</th>
    </tr>
    {/define}
    {include "back.latte"}
{/block}