<div class="row">
    <div class="col-xs-12">
        {if count($uncloseOrders) > 0}
            <h2>Nedokončené zákazky</h2>
            <div class="table-responsive">
                <table class="table table-bordered text-center table-detail">
                    <tr>
                        <th colspan="10">Nedokončené zákazky</th>
                    </tr>
                    {include tableHead}
                    {include "ordersTable.latte" orders=>$uncloseOrders}
                </table>
            </div>
            {else}
            <p>Žiadne nedokončené objednávky.</p>
        {/if}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {if count($closeOrders) > 0}
        <div class="table-responsive">
            <table class="table table-bordered text-center table-detail">
                <tr>
                    <th colspan="10">Dokončené zákazky</th>
                </tr>
                {include tableHead}
                {include "ordersTable.latte" orders=>$closeOrders}
            </table>
        </div>
        {else}
            <p>Žiadne dokončené objednávky.</p>
        {/if}
    </div>
</div>

{define tableHead}
    <tr class="th-center">
        <th>Číslo objednávky</th>
        <th>ŠPZ</th>
        <th>Zákazník</th>
        <th>Typ auta</th>
        <th>Cena</th>
        <th>Zadané</th>
        <th>V boxe</th>
        <th>Umyté</th>
        <th>Zaplatené</th>
    </tr>
{/define}