<tr n:foreach="$orders as $order">
    <td>{$order->order_number}{$order->id}</td>
    <td>{$order->spz}</td>
    {*<td>{$order->customer->fname} {$order->customer->lname}</td>*}
    <td>{$order->customer->phone}</td>
    <td>{$order->car->name}</td>
    <td>
        {foreach $order->services as $service}
            {$service->name},
        {/foreach}
    </td>
    <td>{$order->priceAfterDiscount |number:2} €</td>
    <td>{$order->startDatetime->format('d.m.Y')}</td>
    <td class="no-max-width">{if $order->inBox}
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        {else}
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        {/if}
    </td>
    <td>{if $order->washed}
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        {else}
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        {/if}
    </td>
    <td>{if $order->paid}
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        {else}
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        {/if}
    </td>
</tr>