{block content}
    <div class="row">
        <div class="col-xs-8">
            <h1 n:block="title"><a n:href="Users:default">Prehľad zamestnancov</a></h1>
        </div>
        <div class="col-xs-4">
            <a n:href="Users:addUser" class="btn btn-default btn-primary pull-right" title="Pridať zamestnanca">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span class="fa fa-address-book visible-xs-inline" aria-hidden="true"></span>
                <span class="hidden-xs">Pridať zamestnanca</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">Filter</div>
        <div class="col-md-11">
            <div class="btn-group" role="group" aria-label="...">
                {foreach $groups as $group}
                    <a n:href="Users:groupUsers $group->id" class="btn btn-default">{$group->name}</a>
                {/foreach}
            </div>
        </div>
    </div>
    <hr>
{/block}