    <table class="table table-bordered text-center table-detail">
        <tr>
            <th colspan="4" class="text-capitalize">{$group->name}</th>
        </tr>
        <tr class="th-center">
            <th class="hidden-xs">Meno</th>
            <th>Prihlasovacie meno</th>
            <th class="hidden-xs">Posledné prihlásenie</th>
            <th>Akcie</th>
        </tr>
        <tr n:foreach="$group->users as $user">
            <td class="hidden-xs">{$user->name}</td>
            <td>{$user->username}</td>
            <td class="hidden-xs">{$user->lastLogin->format('d.m.Y')} o {$user->lastLogin->format('H:i:s')}</td>
            {if $userId != $user->id}
                <td class="no-max-width">
                    {if $user->group->type != 3}
                        {if $user->group->type == 1}
                            <a n:href="Users:userOrders $user->id" class="btn btn=default btn-primary" title="Objednávky">
                                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                            </a>
                        {/if}
                        <a n:href="Users:editUser $user->id" class="btn btn-default btn-primary" title="Upraviť">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                        <a n:href="Users:changePassword $user->id" class="btn btn-default btn-primary" title="Zmeniť heslo">
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                        </a>
                        <a n:href="Users:deleteUser $user->id" class="btn btn-default btn-primary" title="Vymazať">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    {else}
                        <a n:href="Users:detailUser $user->id" class="btn btn-default btn-primary" title="Detail">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </a>
                    {/if}
                </td>
                {else}
                <td>...</td>
            {/if}
        </tr>
    </table>