<div class="row">
    <div class="col-xs-12">
        <h1 n:block="title">Prehľad zákaziek zamestnanca {$user->name}</h1>
    </div>
    <div class="col-xs-12">
        <div class="btn-group" role="group" aria-label="...">
	        <a n:href="Users:closeOrders $user->id" class="btn btn-default">Dokončené</a>
	        <a n:href="Users:uncloseOrders $user->id" class="btn btn-default">Nedokončené</a>
            {*<a n:href="Users:userOrders $user->id" class="btn btn-default">Podľa úplnosti</a>*}
            <a n:href="Users:ordersByDay $user->id" class="btn btn-default">Dokončené podľa dní</a>
            {*<a href="#" class="btn btn-default">Týždenný výpis</a>*}
        </div>
    </div>
</div>