{block content}
	<div class="row" id="up">
		<div class="col-md-8">
			<h1 n:block="title">Služby</h1>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<h1><a n:href="Prices:add" class="form-control btn btn-default btn-primary pull-right"
							title="Pridať službu">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						<span class="hidden-xs">Pridať cenu</span>
					</a></h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">Rýchly prístup</div>
		<div class="col-md-10">
			<div class="btn-group" role="group" aria-label="...">
				{foreach $shops as $shop}
					{var shopId => reset($shop)->id}
					<a n:href="Prices:default#$shopId" class="btn btn-default">{reset($shop)->shop->name}</a>
				{/foreach}
			</div>
		</div>
	</div>
	{foreach $shops as $shop}
		<div class="row">

			<div class="col-md-12" id="{reset($shop)->id}">
				<h2>{reset($shop)->shop->name}</h2>
				<table class="table table-bordered table-condensed text-center table-detail">
					<tr class="th-center">
						<th>Služba</th>
						<th>Veľkosť</th>
						<th>Cena</th>
						<th>Tlačítka akcií</th>
					</tr>
					<tr n:foreach="$shop as $price">
						<td>{$price->service->name}</td>
						<td>{$price->size->name}</td>
						<td>{$price->value} €</td>
						<td><a n:href="Prices:edit $price->id"
									class="btn btn-action"
									title="Upraviť cenu">
								<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
								<span class="hidden-xs">Upraviť</span>
							</a></td>
					</tr>
				</table>
			</div>
		</div>
	{/foreach}

	<a n:href="Prices:default#up" class="btn btn-default btn-up" title="Na začiatok">
		<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
	</a>
{/block}