{block content}
    <div class="row">
        <div class="col-sm-10">
            <h2>Objednávky podľa dní {$thisShop->name}</h2>
        </div>
        {if count($bookingsByDate) > 0}
            <div class="col-sm-2">
                <a n:href="Export:exportBookingsByDay $thisShop->id" class="btn btn-primary pull-right">Export</a>
            </div>
        {/if}
    </div>
    {include "bookingFilter.latte" $thisShop->id}
    <br>
    {if count($bookingsByDate) > 0}
        <div class="row">
            {foreach $bookingsByDate as $bookings }
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center table-detail">
                            <tr>
                                <th colspan="10">{$bookings [0]->date->format('d.m.Y')}</th>
                            </tr>
                            {include tableHead}
                            <tr n:foreach="$bookings as $booking">
                                <td>{$booking->booking_number}{$booking->id}</td>
                                <td>{$booking->spz}</td>
                                {*<td>{$booking->customer->fname} {$booking->customer->lname}</td>*}
                                <td>{$booking->customer->phone}</td>
                                <td>{foreach $booking->services as $service}
                                        {$service->name},
                                    {/foreach}
                                </td>
                                <td>{$booking->price} €</td>
                            </tr>
                        </table>
                    </div>
                </div>
            {/foreach}
        </div>
    {else}
        <p>Žiadne objednávky.</p>
    {/if}

    {*{include "back.latte"}*}
{/block}

{define tableHead}
    <tr class="th-center">
        <th>Číslo objednávky</th>
        <th>Objednané na</th>
        <th>ŠPZ</th>
        <th>Zákazník</th>
        <th>Služba</th>
        <th>Cena</th>
    </tr>
{/define}
