<tr n:foreach="$bookings as $booking">
    <td>{$booking->booking_number}{$booking->id}</td>
    <td>{$booking->startDatetime->format('d.m.Y H:i')}</td>
    <td>{$booking->spz}</td>
    {*<td>{$booking->customer->fname} {$booking->customer->lname}</td>*}
    <td>{$booking->customer->phone}</td>
    <td>
        {foreach $booking->services as $service}
            {$service->name},
        {/foreach}
    </td>
    <td>{$booking->price |number:2} €</td>
    <td>{$booking->date->format('d.m.Y')}</td>
    <td class="no-max-width">
        <a n:href="Booking:editBooking $booking->id" class="btn btn-action btn-primary" rel="nofollow" title="Upraviť">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            <span class="visible-lg-inline"></span>
        </a>
        <a n:href="Booking:detailBooking $booking->id" class="btn btn-action btn-primary" rel="nofollow" title="Detail">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            <span class="visible-lg-inline"></span>
        </a>
    </td>
</tr>