<div class="row">

    <div class="col-md-2">Objednávky podľa dní</div>
    <div class="col-md-10">
        <div class="btn-group" role="group" aria-label="...">
            {foreach $shops as $shop}
                {if $shop->name != 'admin'}
                    <a n:href="Booking:default $shop->id" class="btn btn-default">{$shop->name}</a>
                {/if}
            {/foreach}
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-2">
        Filter:
    </div>
    <div class="col-md-10">
        <a n:href="Booking:bookingsByDate $thisShop->id" class="btn btn-default"> Objednávky podľa dní </a>
    </div>
</div>