{block content}
    <div class="row">
        <div class="col-xs-6">
            <h1 n:block="title">Objednávky {$thisShop->name}</h1>
        </div>
        <div class="col-md-6">
            {if count($bookings) > 0}
                <a n:href="Export:exportBookingsByShop $thisShop->id" class="btn btn-primary pull-right">Export</a>
            {/if}
        </div>
    </div>
    {include "bookingFilter.latte" $thisShop->id}
    <br>
    <div class="row">
        <div class="col-xs-12">
            {if count($bookings) > 0}
                <div class="table-responsive">
                    <table class="table table-bordered text-center table-detail">
                        {include tableHead}
                        {include "bookingsTable.latte" bookings=>$bookings}
                    </table>
                </div>
            {else}
                <p>Žiadne objednávky</p>
            {/if}
        </div>
    </div>

{/block}

{define tableHead}
    <tr class="th-center">
        <th>Číslo objednávky</th>
        <th>Objednané na</th>
        <th>ŠPZ</th>
        <th>Zákazník</th>
        <th>Služby</th>
        <th>Cena</th>
        <th>Zadané</th>
        <th>Tlačítka akcií</th>
    </tr>
{/define}