{block content}
    <div class="detail-order">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 n:block="title">Vymazanie objednávky č. {$booking->booking_number}{$booking->id}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-4">
                <table class="table table-detail">
                    <tr>
                        <th class="width-1"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></th>
                        <th>Údaje o objednávke</th>
                    </tr>
                    <tr>
                        <td class="width-1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></td>
                        <td>{$booking->startDatetime->format('d.m.Y')} o {$booking->startDatetime->format('H:i:s')}</td>
                    </tr>
                    <tr>
                        <td class="width-1"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></td>
                        <td>{$booking->shop->name}, {$booking->shop->address}</td>
                    </tr>
                    <tr>
                        <td class="width-1"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span></td>
                        <td>{$booking->spz}</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-lg-4">
                <table class="table table-detail">
                    <tr>
                        <th class="width-1"><span class="fa fa-address-book" aria-hidden="true"></span></th>
                        <th>Podrobnosti o zákazníkovi</th>
                    </tr>
                    {*<tr>*}
                        {*<td class="width-1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>*}
                        {*<td>{$booking->customer->fname} {$booking->customer->lname}</td>*}
                    {*</tr>*}
                    <tr>
                        <td class="width-1"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></td>
                        <td>{$booking->customer->phone}</td>
                    </tr>
                    <tr>
                        <td class="width-1"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span></td>
                        <td>{$booking->customer->ico}</td>
                    </tr>
                    <tr>
                        <td class="width-1"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></td>
                        <td>{$booking->customer->address}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-4">

        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-detail">
                    <tr>
                        <th colspan="2">Objednávka ({$booking->booking_number}{$booking->id})</th>
                    </tr>
                    <tr>
                        <td><b>Objednané služby:</b></td>
                        <td>
                            {foreach $booking->services as $service}
                                {$service->name},
                            {/foreach}
                        </td>
                    </tr>
                    <tr>
                        <td><b>Cena:</b></td>
                        <td>{$booking->price |number:2} €</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                {control deleteBookingForm}
            </div>
        </div>
    </div>
{/block}