{form deleteCustomerForm}
    <div class="errors" n:if="$form->hasErrors()">
        <p class="alert alert-danger" n:foreach="$form->errors AS $error">{$error}</p>
    </div>
    <div class="text-right">
        {label yes /}
        {input yes, class=>'btn btn-primary'}
        {label cancel /}
        {input cancel, class=>'btn btn-primary'}
    </div>
{/form}