{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{ifset title}{include title|striptags} | {/ifset}MIDAMI CRM</title>

    {if $debugMode}
        <link rel="stylesheet" href="{$basePath}{$filePath}/css/style-front.css">
    {else}
        <link rel="stylesheet" href="{$basePath}{$filePath}/css/style-front.min.css">
    {/if}
    <script src="{$basePath}{$filePath}/js/app-employee.js"></script>
    <script src="{$basePath}{$filePath}/js/jquery.js"></script>

    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="{$basePath}{$filePath}/images/favicon.ico">

    <link rel='stylesheet' href='{$basePath}{$filePath}/css/fullcalendar/fullcalendar.css' />
    <script src='{$basePath}{$filePath}/js/fullcalendar/lib/moment.min.js'></script>
    <script src='{$basePath}{$filePath}/js/fullcalendar/fullcalendar.js'></script>
    <script src='{$basePath}{$filePath}/js/fullcalendar/locale/sk.js'></script>

    <script>

        var url = {$baseUrl};
        console.log(url);

    </script>

    <script src='{$basePath}{$filePath}/js/main.js'></script>
    {block head}{/block}
</head>

<body>
<nav class="navbar navbar-moj">
    <div class="container">
        <div class="navbar-header">
            <button id="menu-button" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a n:href="Homepage:default">
                <img src="{$basePath}{$filePath}/images/logo_midami_small.png" alt="Midami logo" class="img-responsive logo"/>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
                <li><a n:href="Order:addOrder">Pridať zákazku</a></li>
                <li><a n:href="Homepage:default">Prehľad zákaziek</a></li>
                <li><a n:href="Customer:addCustomer">Pridať zákazníka</a></li>
                <li><a n:href="Booking:addBooking">Pridať objednávku</a></li>
                <li><a n:href="Booking:allBookings">Moje objednávky</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="dropdown" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Prihlásený ako {$username} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a n:href="User:changePassword">Zmeniť heslo</a></li>
                        <li><a href="#">Profil</a></li>
                    </ul>
                </li>
                <li><a class='btn btn-off' n:href=":Front:Sign:out" title="Odhlásiť sa">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        <span class="visible-xs-inline">Odhlásiť sa</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container main">
    <div class="row">
        <div class="col-xs-12">
            <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>
            {include content}
        </div>
    </div>
</div>
</body>
</html>
