{*{include "exportHeader.latte"}*}
{header("Content-Disposition: attachment; filename=trzby_{$shop->name}_{date->format('d.m.Y')}.xml")}
{foreach $bookingsByDate as $bookings}
<trzby>
<trzba n:foreach="$bookings as $booking">
{include "exportBookings.latte" booking=>$booking}
</trzba>
</trzby>
{/foreach}