<casDokoncenia>{$order->endDatetime->format('d.m.Y')}</casDokoncenia>
<cisloObjednavky>{$order->order_number}{$order->id}</cisloObjednavky>
<spz>{$order->spz}</spz>
<zakaznik>{$order->customer->phone}</zakaznik>
<znackaAuta>{$order->car->name}</znackaAuta>
{foreach $order->services as $service}
<objednanaSluzba>{$service->name}</objednanaSluzba>
{/foreach}
{if $order->price != $order->priceAfterDiscount}
<cenaPredZlavou>{$order->price},00 €</cenaPredZlavou>
<zlava>{$order->discount->value}%</zlava>
{/if}
<cena>{$order->priceAfterDiscount},00 €</cena>
<platba>{$order->payment->name}</platba>
<casObjednania>{$order->startDatetime->format('d.m.Y')}</casObjednania>
{if $order->inBox == 1}
<vBoxe>ano</vBoxe>
{else}
<vBoxe>nie</vBoxe>
{/if}
{if $order->washed == 1}
<umyte>ano</umyte>
{else}
<umyte>nie</umyte>
{/if}
{if $order->paid == 1}
<zaplatene>ano</zaplatene>
{else}
<zaplatene>nie</zaplatene>
{/if}
