{*{include "exportHeader.latte"}*}
{if $todayOrders != null}
    {header("Content-Disposition: attachment; filename=trzby_{$shop->name}_{$date}.xml")}
    {foreach $todayOrders as $orders}
<denneTrzby>
<trzba n:foreach="$orders as $order">
{include "exportSales.latte" order=>$order}
</trzba>
</denneTrzby>
{/foreach}
{/if}

{dump $month}

{if $monthOrders != null}
{header("Content-Disposition: attachment; filename=trzby_{$shop->name}_{$month}.xml")}

{foreach $monthOrders as $orders}
<mesacneTrzby>
<trzba n:foreach="$orders as $order">
{include "exportSales.latte" order=>$order}
</trzba>
</mesacneTrzby>
{/foreach}
{/if}


