{include "exportHeader.latte"}
{header("Content-Disposition: attachment; filename=objednavkyPoDnoch_{$name}.xml")}
{foreach $ordersByDate as $orders}
    <objednavky>
        <objednavka n:foreach="$orders as $order">
            {include "exportOrders.latte" order=>$order}
        </objednavka>
    </objednavky>
{/foreach}