{include "exportHeader.latte"}
{header("Content-Disposition: attachment; filename=zamestnanci_{$shop->name}.xml")}
<prevadzka>
    <zamestnanec n:foreach="$shop->users as $user">
        <meno>{$user->name}</meno>
        <prihlasovacieMeno>{$user->username}</prihlasovacieMeno>
        <poslednePrihlasenie>{$user->lastLogin->format('d.m.Y')} o {$user->lastLogin->format('H:i:s')}</poslednePrihlasenie>
    </zamestnanec>
</prevadzka>
