{include "exportHeader.latte"}
{header("Content-Disposition: attachment; filename=objednavky_{$name}.xml")}
<objednavky>
    <objednavka n:foreach="$closeOrders as $order">
        {include "exportOrders.latte" order=>$order}
    </objednavka>
</objednavky>