<denTrzby>{$order->endDatetime->format('d.m.Y')}</denTrzby>
<cisloObjednavky>{$order->order_number}{$order->id}</cisloObjednavky>
<spz>{$order->spz}</spz>
<zakaznik>{$order->customer->phone}</zakaznik>
{foreach $order->services as $service}
<objednanaSluzba>{$service->name}</objednanaSluzba>
{/foreach}
<cena>{$order->price},00 €</cena>
<druhPlatby>{$order->payment->name}</druhPlatby>

