<casObjednavky>{$booking->date->format('d.m.Y')}</casObjednavky>
<cisloObjednavky>{$booking->booking_number}{$booking->id}</cisloObjednavky>
<spz>{$booking->spz}</spz>
<zakaznik>{$booking->customer->phone}</zakaznik>
{foreach $booking->services as $service}
<objednanaSluzba>{$service->name}</objednanaSluzba>
{/foreach}
<cena>{$booking->price},00 €</cena>

