{*{include "exportHeader.latte"}*}
{header("Content-Disposition: attachment; filename=objednavkyPoDnoch_{$shop->name}.xml")}
{foreach $bookingsByDate as $bookings}
<objednavky>
<objednavka n:foreach="$bookings as $booking">
{include "exportBookings.latte" booking=>$booking}
</objednavka>
</objednavky>
{/foreach}