{*{include "exportHeader.latte"}*}
{header("Content-Disposition: attachment; filename=vsetkyObjednavky_{$shop->name}.xml")}

<objednavky>
<objednavka n:foreach="$bookings as $booking">
{include "exportBookings.latte" booking=>$booking}
</objednavka>
</objednavky>
