{form salesMonthForm}
	<div class="row">
		<div class="col-md-6">
			{label month /}

			{input month, class=>'month-picker'}
		</div>
		<div class="col-md-2">
			{input show, class=>'btn btn-default'}
		</div>
	</div>
{/form}