{block content}
    <div class="row">
        <div class="col-xs-6 col-md-10">
            <h1 n:block="title">Pridať zákazníka</h1>
        </div>
        <div class="col-xs-6 col-md-2">
            <a n:href="Order:addCustomerToOrder" class="btn btn-default btn-primary pull-right"
                                                 rel="nofollow" title="Pridať zákazku">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-list-alt hidden-lg" aria-hidden="true"></span>
                <span class="visible-lg-inline">Pridať zákazku</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {control customerForm}
        </div>
    </div>
{/block}