{block content}
    <h1 n:block="title">Detail zákazníka {$customer->phone}</h1>
    {if count($bookings) !== 0}
        {include "bookingsTable.latte" bookings=>$bookings}
    {/if}
    {include "orders.latte" closeOrders=>$closeOrders, uncloseOrders=>$uncloseOrders}

    <hr/>
    <a n:href="Homepage:default" class="btn btn-primary btn-default">Späť na prehľad zákaziek</a>
{/block}