{block content}
    <div class="row height400">
        <div class="col-xs-12">
            <h1 n:block="title">Pridať zákazníka ku zákazke</h1>
            <p>Napíšte do vyhľadávacieho poľa telefónne číslo zákazníka. Po kliknutí prejdete k ďalšiemu kroku.</p>
            <br>
            <div class="form-group row">
                <div class="col-xs-12 col-sm-7 col-md-push-3">
                    <input type="text" id="search" data-url="{link 'Json:search'}" placeholder="Hľadaj zákazníka..."
                           class="form-control text">
                    <div id="autocomplete"></div>
                </div>
            </div>
        </div>
    </div>

{/block}