{block content}
    <div class="detail-order">
        <div class="row">
            <div class="col-xs-6">
                <h1 n:block="title">Zákazka č. {$order->order_number}{$order->id}</h1>
            </div>
            <div class="col-xs-6">
                <a n:href="Order:storno $order->id" class="btn btn-default btn-primary pull-right">Storno zákazky</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-4">
                <table class="table table-detail">
                    <tr>
                        <th class="width-1"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></th>
                        <th>Údaje o zákazke</th>
                    </tr>
                    <tr>
                        <td class="width-1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></td>
                        <td>{$order->startDatetime->format('d.m.Y')} o {$order->startDatetime->format('H:i:s')}</td>
                    </tr>
                    <tr>
                        <td class="width-1"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></td>
                        <td>{$order->shop->name}, {$order->shop->address}</td>
                    </tr>
                    <tr>
                        <td class="width-1"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span></td>
                        <td>{$order->spz}</td>
                    </tr>
                    <tr>
                        <td class="width-1"><i class="fa fa-ravelry" aria-hidden="true"></i></td>
                        <td>{$order->car->name}</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-lg-4">
                <table class="table table-detail">
                    <tr>
                        <th class="width-1"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></th>
                        <th>Stav zákazky</th>
                    </tr>
                    <tr>
                        <td class="width-1">
                            {if $order->inBox}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {else}
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            {/if}
                        </td>
                        <td>v boxe</td>
                    </tr>
                    <tr>
                        <td class="width-1">
                            {if $order->washed}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {else}
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            {/if}
                        </td>
                        <td>umyté</td>
                    </tr>
                    <tr>
                        <td class="width-1">
                            {if $order->paid}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {else}
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            {/if}
                        </td>
                        <td>zaplatené</td>
                    </tr>

                </table>
            </div>
            <div class="col-xs-12 col-lg-4">
                <table class="table table-detail">
                    <tr>
                        <th class="width-1"><span class="fa fa-address-book" aria-hidden="true"></span></th>
                        <th>Podrobnosti o zákazníkovi</th>
                    </tr>
                    {*<tr>*}
                        {*<td class="width-1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>*}
                        {*<td>{$order->customer->fname} {$order->customer->lname}</td>*}
                    {*</tr>*}
                    <tr>
                        <td class="width-1"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></td>
                        <td>{$order->customer->phone}</td>
                    </tr>
                    <tr>
                        <td class="width-1"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span></td>
                        <td>{$order->customer->ico}</td>
                    </tr>
                    <tr>
                        <td class="width-1"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></td>
                        <td>{$order->customer->address}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-4">

        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-detail">
                    <tr>
                        <th colspan="2">Zákazka ({$order->order_number}{$order->id})</th>
                    </tr>
                    <tr>
                        <td><b>Objednané služby:</b></td>
                        <td>
                            {foreach $order->services as $service}
                                {$service->name},
                            {/foreach}
                        </td>
                    </tr>
                    <tr>
                        <td><b>Druh platby:</b></td>
                        <td>{$order->payment->name}</td>
                    </tr>
                    {if $order->price != $order->priceAfterDiscount}
                        <tr>
                            <td><b>Pôvodná cena:</b></td>
                            <td>{$order->price |number:2} €</td>
                        </tr>
                        <tr>
                            <td><b>Zľava:</b></td>
                            <td>{$order->discount->value} %</td>
                        </tr>
                    {/if}
                    <tr>
                        <td><b>Celková cena:</b></td>
                        <td>{$order->priceAfterDiscount |number:2} €</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-detail">
                    <tr>
                        <th colspan="2">História zmien</th>
                    </tr>
                    <tr>
                    <tr n:foreach="$histories as $history">
                        <td><b>{$history->datetime->format('d.m.Y')}</b> o {$history->datetime->format('H:i:s')}</td>
                        <td>{$history->description}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr/>
        <a n:href="Homepage:default" class="btn btn-default btn-primary">Späť na prehľad zákaziek</a>
    </div>
{/block}