{block content}
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <h1 n:block="title">Úprava zákazky č. {$order->order_number}{$order->id}</h1>
            <p><b>Zadaná do systému:</b>  {$order->startDatetime->format('d.m.Y')} o {$order->startDatetime->format('H:i:s')}</p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <table class="table table-detail">
                <tr>
                    <th class="width-1"><span class="fa fa-address-book" aria-hidden="true"></span></th>
                    <th>Aktuálny zákazník</th>
                </tr>
                {*<tr>*}
                    {*<td class="width-1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>*}
                    {*<td>{$order->customer->fname} {$order->customer->lname}</td>*}
                {*</tr>*}
                <tr>
                    <td class="width-1"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></td>
                    <td>{$order->customer->phone}</td>
                </tr>
                <tr>
                    <td class="width-1"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span></td>
                    <td>{$order->customer->ico}</td>
                </tr>
                <tr>
                    <td class="width-1"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></td>
                    <td>{$order->customer->address}</td>
                </tr>
            </table>
        </div>
    </div>
    <br/>
    {control orderForm}
{/block}