{block content}
    <div class="row">
        <div class="col-xs-8">
            <h1 n:block="title">Prehľad prevádzok</h1>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <h1><a n:href="Shops:add" class="form-control btn btn-default btn-primary pull-right" title="Pridať prevádzku">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        <span class="hidden-xs">Pridať prevádzku</span>
                </a></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered text-center table-detail">
                    <tr class="th-center">
                        <th>Názov prevádzky</th>
                        <th class="hidden-xs">Adresa</th>
                        <th>Tlačítka akcií</th>
                    </tr>
                    <tr n:foreach="$shops as $shop">
                        {if $shop->name != 'admin'}
                            <td>{$shop->name}</td>
                            <td class="hidden-xs">{$shop->address}</td>
                            <td><a n:href="Shops:edit $shop->id" class="btn btn-action" title="Upraviť">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a n:href="Shops:detail $shop->id" class="btn btn-action" title="Detail">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                </a>
                                <a n:href="Export:exportDetailUsers $shop->id"
                                        class="btn btn-action"
                                        title="Export zamestnancov a ich objednávok z prevádzky">
                                    <span class="hidden-xs">Export všetko</span>
                                </a>
                                <a n:href="Export:exportUsers $shop->id"
                                        class="btn btn-action"
                                        title="Export zamestnancov z prevádzky">
                                    <span class="hidden-xs">Export zamestnanci</span>
                                </a>
                            </td>
                        {/if}
                    </tr>
                </table>
            </div>
        </div>
    </div>
{/block}