{block content}
    <div class="row">
        <div class="col-xs-12">
            <h1 n:block="title">Úprava prevádzky {$shop->name}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {control shopForm}
        </div>
    </div>
{/block}