{block content}
    {include "shopHeader.latte"}
    <div class="row">
        <div class="col-xs-12">
            <h2>Nedokončené zákazky</h2>
            <div class="table-responsive">
                <table class="table table-bordered text-center table-detail">
                    <tr class="th-center">
                        <th class="hidden-xs">Číslo zakázky</th>
                        <th>ŠPZ</th>
                        <th class="hidden-xs">Zákazník</th>
                        <th class="hidden-xs visible-lg">Typ auta</th>
                        <th>Cena</th>
                        <th class="hidden-xs">Zadané</th>
                        <th class="hidden-xs">V boxe</th>
                        <th class="hidden-xs">Umyté</th>
                        <th class="hidden-xs">Zaplatené</th>
                        <th>Zamestnanec</th>
                    </tr>
                    <tr n:foreach="$uncloseOrders as $order">
                        {include "ordersTable.latte" order=>$order}
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Dokončené zákazky</h2>
            <div class="table-responsive">
                <table class="table table-bordered text-center table-detail">
                    <tr class="th-center">
                        <th class="hidden-xs">Číslo zákazky</th>
                        <th>ŠPZ</th>
                        <th class="hidden-xs">Zákazník</th>
                        <th class="hidden-xs visible-lg">Typ auta</th>
                        <th>Cena</th>
                        <th class="hidden-xs">Zadané</th>
                        <th class="hidden-xs">V boxe</th>
                        <th class="hidden-xs">Umyté</th>
                        <th class="hidden-xs">Zaplatené</th>
                        <th>Zamestnanec</th>
                    </tr>
                    <tr n:foreach="$closeOrders as $order">
                        {include "ordersTable.latte" order=>$order}
                    </tr>
                </table>
            </div>
        </div>
    </div>
{/block}
