<td class="hidden-xs">{$order->order_number}{$order->id}</td>
<td>{$order->spz}</td>
<td class="hidden-xs">
    <a n:href="Customer:detail $order->customer->id">{$order->customer->phone</a></td>
<td class="hidden-xs visible-lg">{$order->car->name}</td>
<td>{$order->priceAfterDiscount |number:2} €</td>
<td class="hidden-xs">{$order->startDatetime->format('d.m.Y')}</td>
<td class="hidden-xs">{if $order->inBox}
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    {else}
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    {/if}
</td>
<td class="hidden-xs">{if $order->washed}
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    {else}
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    {/if}
</td>
<td class="hidden-xs">{if $order->paid}
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    {else}
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    {/if}
</td>
<td><a n:href="Users:UserOrders $order->user->id">{$order->user->name}</a></td>