<div class="row">
    <div class="col-xs-12">
        <h1 n:block="title">Detail prevádzky {$shop->name}</h1>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered text-center table-detail">
            <tr>
                <td><b>Adresa:</b></td>
                <td>{$shop->address}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-11">
        <div class="btn-group" role="group" aria-label="...">
            <a n:href="Shops:detail $shop->id" class="btn btn-default">Zamestnanci na prevádzke</a>
            <a n:href="Shops:orders $shop->id" class="btn btn-default">Zákazky</a>
        </div>
    </div>
</div>
<br>