{block content}
    <div class="row">
        <div class="col-xs-12">
            <h1 n:block="title">Storná</h1>
            <div class="table-responsive">
                <table class="table table-bordered text-center table-detail" n:foreach="$stornosByDate as $stornoOneDay">
                    <tr class="text-left">
                        <th colspan="11">{$stornoOneDay[0]->datetime->format('d.m.Y')}</th>
                    </tr>
                    <tr class="th-center">
                        <th class="hidden-xs">Číslo zakázky</th>
                        <th>ŠPZ</th>
                        <th class="hidden-xs">Zákazník</th>
                        <th class="hidden-xs visible-lg">Typ auta</th>
                        <th>Cena</th>
                        <th class="hidden-xs">Zadané</th>
                        <th class="hidden-xs">V boxe</th>
                        <th class="hidden-xs">Umyté</th>
                        <th class="hidden-xs">Zaplatené</th>
                        <th>Akcie</th>
                    </tr>
                    <tr n:foreach="$stornoOneDay as $storno">
                        <td>{$storno->order->order_number}{$storno->order->id}</td>
                        <td>{$storno->order->spz}</td>
                        <td class="hidden-xs">
                            <a n:href="Customer:detail $storno->order->customer->id">
                                {$storno->order->customer->phone}</a></td>
                        <td class="hidden-xs visible-lg">{$storno->order->car->name}</td>
                        <td>{$storno->order->priceAfterDiscount |number:2} €</td>
                        <td class="hidden-xs">{$storno->order->startDatetime->format('d.m.Y')}</td>
                        <td>{if $storno->order->inBox}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {else}
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            {/if}
                        </td>
                        <td>
                            {if $storno->order->washed}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {else}
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            {/if}
                        </td>
                        <td>
                            {if $storno->order->paid}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {else}
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            {/if}
                        </td>
                        <td class="no-max-width">
                            <a n:href="Stornos:detail $storno->id" class="btn btn-action btn-primary" rel="nofollow" title="Detail">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                            </a>
                            <a n:href="Stornos:return $storno->id" class="btn btn-action btn-primary" rel="nofollow" title="Vrátiť storno">
                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{/block}