{block content}
    <div class="detail-order">
        <div class="row">
            <div class="col-xs-12">
                <h1 n:block="title">Zrušenie storna objednávky č. {$storno->order->order_number}{$storno->order->id}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-4">
                <table class="table table-detail">
                    <tr>
                        <th class="width-1"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></th>
                        <th>Údaje o objednávke</th>
                    </tr>
                    <tr>
                        <td class="width-1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></td>
                        <td>{$storno->order->startDatetime->format('d.m.Y')} o {$storno->order->startDatetime->format('H:i:s')}</td>
                    </tr>
                    <tr>
                        <td class="width-1"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></td>
                        <td>{$storno->order->shop->name}, {$storno->order->shop->address}</td>
                    </tr>
                    <tr>
                        <td class="width-1"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span></td>
                        <td>{$storno->order->spz}</td>
                    </tr>
                    <tr>
                        <td class="width-1"><i class="fa fa-ravelry" aria-hidden="true"></i></td>
                        <td>{$storno->order->car->name}</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-lg-4">
                <table class="table table-detail">
                    <tr>
                        <th class="width-1"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></th>
                        <th>Stav objednávky</th>
                    </tr>
                    <tr>
                        <td class="width-1">
                            {if $storno->order->inBox}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {else}
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            {/if}
                        </td>
                        <td>v boxe</td>
                    </tr>
                    <tr>
                        <td class="width-1">
                            {if $storno->order->washed}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {else}
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            {/if}
                        </td>
                        <td>umyté</td>
                    </tr>
                    <tr>
                        <td class="width-1">
                            {if $storno->order->paid}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {else}
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            {/if}
                        </td>
                        <td>zaplatené</td>
                    </tr>
                    <tr>
                        <td class="width-1">
                            <span class="glyphicon glyphicon-flash" aria-hidden="true" title="Dátum storna"></span>
                        </td>
                        <td>{$storno->datetime->format('d.m.Y, H:i:s')}</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 col-lg-4">
                <table class="table table-detail">
                    <tr>
                        <th class="width-1"><span class="fa fa-address-book" aria-hidden="true"></span></th>
                        <th>Podrobnosti o zákazníkovi</th>
                    </tr>
                    {*<tr>*}
                        {*<td class="width-1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>*}
                        {*<td>{$storno->order->customer->fname} {$storno->order->customer->lname}</td>*}
                    {*</tr>*}
                    <tr>
                        <td class="width-1"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></td>
                        <td>{$storno->order->customer->phone}</td>
                    </tr>
                    <tr>
                        <td class="width-1"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span></td>
                        <td>{$storno->order->customer->ico}</td>
                    </tr>
                    <tr>
                        <td class="width-1"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></td>
                        <td>{$storno->order->customer->address}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-detail">
                    <tr>
                        <th colspan="2">Detaily storna</th>
                    </tr>
                    <tr>
                        <td><b>Dôvod storna:</b></td>
                        <td>{$storno->reason}</td>
                    </tr>
                    <tr>
                        <td><b>Storno zadal:</b></td>
                        <td>{$storno->user->name} ({$storno->user->username})</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-detail">
                    <tr>
                        <th colspan="2">Objednávka ({$storno->order->order_number}{$storno->order->id})</th>
                    </tr>
                    <tr>
                        <td><b>Objednané služby:</b></td>
                        <td>
                            {foreach $storno->order->services as $service}
                                {$service->name},
                            {/foreach}
                        </td>
                    </tr>
                    <tr>
                        <td><b>Druh platby:</b></td>
                        <td>{$storno->order->payment->name}</td>
                    </tr>
                    {if $storno->order->price != $storno->order->priceAfterDiscount}
                        <tr>
                            <td><b>Pôvodná cena:</b></td>
                            <td>{$storno->order->price |number:2} €</td>
                        </tr>
                        <tr>
                            <td><b>Zľava:</b></td>
                            <td>{$storno->order->discount->value} %</td>
                        </tr>
                    {/if}
                    <tr>
                        <td><b>Celková cena:</b></td>
                        <td><strong>{$storno->order->priceAfterDiscount |number:2} €</strong></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-detail">
                    <tr>
                        <th colspan="2">História zmien</th>
                    </tr>
                    <tr>
                    <tr n:foreach="$histories as $history">
                        <td><b>{$history->datetime->format('d.m.Y')}</b> o {$history->datetime->format('H:i:s')}</td>
                        <td>{$history->description}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr/>
        {control deleteStornoForm}
    </div>
{/block}