{block content}
    <div class="detail-order">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 n:block="title">Storno ({$order->order_number}{$order->id})</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-4">
                <table class="table">
                    <tr>
                        <th class="width-1"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></th>
                        <th>Údaje o objednávke</th>
                    </tr>
                    <tr>
                        <td class="width-1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></td>
                        <td>{$order->startDatetime->format('d.m.Y')} o {$order->startDatetime->format('h:i:s')}</td>
                    </tr>
                    <tr>
                        <td class="width-1"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></td>
                        <td>{$order->shop->name}, {$order->shop->address}</td>
                    </tr>
                    <tr>
                        <td class="width-1"><i class="fa fa-car" aria-hidden="true"></i></td>
                        <td>{$order->spz}</td>
                    </tr>
                    <tr>
                        <td class="width-1"><i class="fa fa-ravelry" aria-hidden="true"></i></td>
                        <td>{$order->car->name}</td>
                    </tr>
                </table>
            </div>

            <div class="col-xs-12 col-lg-4">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th class="width-1"><span class="fa fa-address-book" aria-hidden="true"></span></th>
                            <th>Podrobnosti o zákazníkovi</th>
                        </tr>
                        {*<tr>*}
                            {*<td class="width-1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>*}
                            {*<td>{$order->customer->fname} {$order->customer->lname}</td>*}
                        {*</tr>*}
                        <tr>
                            <td class="width-1"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></td>
                            <td>{$order->customer->phone}</td>
                        </tr>
                        <tr>
                            <td class="width-1"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span></td>
                            <td>{$order->customer->ico}</td>
                        </tr>
                        <tr>
                            <td class="width-1"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></td>
                            <td>{$order->customer->address}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">

        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Objednávka ({$order->order_number}{$order->id})</h2>
                <table class="table">
                    <tr>
                        <td><b>Objednaná služba:</b></td>
                        <td>{foreach $order->services as $service}
                                {$service->name},
                            {/foreach}
                        </td>
                    </tr>
                    {if $order->price != $order->priceAfterDiscount}
                        <tr>
                            <td><b>Pôvodná cena:</b></td>
                            <td>{$order->price} €</td>
                        </tr>
                        <tr>
                            <td><b>Zľava:</b></td>
                            <td>{$order->discount->value} %</td>
                        </tr>
                    {/if}
                    <tr>
                        <td><b>Celková cena:</b></td>
                        <td>{$order->priceAfterDiscount |number:2} €</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                {control stornoForm}
            </div>
        </div>
    </div>
{/block}