{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{ifset title}{include title|striptags} | {/ifset}MIDAMI CRM</title>

    {if $debugMode}
        <link rel="stylesheet" href="{$basePath}{$filePath}/css/style-front.css">
    {else}
        <link rel="stylesheet" href="{$basePath}{$filePath}/css/style-front.min.css">
    {/if}

    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="{$basePath}{$filePath}/images/favicon.ico">
    {block head}{/block}
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img src="{$basePath}{$filePath}/images/logo_midami_small.png" alt="Midami logo" class="img-responsive logo"/>
        </div>
    </div>
</div>
<div class="container main">
    <div class="row">
        <div class="col-xs-12">
            <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>
            {include content}
        </div>
    </div>
</div>


{block scripts}
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
    <script src="{$basePath}{$filePath}/js/main.js"></script>
{/block}
</body>
</html>
