{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{ifset title}{include title|striptags} | {/ifset}MIDAMI CRM</title>

    {if $debugMode}
        <link rel="stylesheet" href="{$basePath}{$filePath}/css/style-front.css">
    {else}
        <link rel="stylesheet" href="{$basePath}{$filePath}/css/style-front.min.css">
    {/if}
	<link rel="stylesheet" href="{$basePath}{$filePath}/css/jquery-ui.css">
	<script src="{$basePath}{$filePath}/js/app-employee.js"></script>
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="{$basePath}{$filePath}/images/favicon.ico">
    {block head}{/block}
</head>

<body>
<nav class="navbar navbar-moj">
    <div class="container">
        <div class="navbar-header">
            <button id="menu-button" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a n:href="Users:default">
                <img src="{$basePath}{$filePath}/images/logo_midami_small.png" alt="Midami logo" class="img-responsive"/>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
                <li><a n:href="Users:default">Prehľad zamestnancov</a></li>
                <li><a n:href="Shops:default">Prehľad prevádzok</a></li>
                <li><a n:href="Customer:default">Prehľad zákazníkov</a></li>
                <li><a n:href="Stornos:default">Storno</a></li>
                <li><a n:href="Prices:default">Ceny</a></li>
                <li><a n:href="Sales:default">Tržby</a></li>
                <li><a n:href="Booking:default">Objednávky</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="dropdown" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{$username} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a n:href="User:changePassword">Zmeniť heslo</a></li>
                        <li><a href="#">Profil</a></li>
                    </ul>
                </li>
                <li class="sign"><a class='btn btn-off' n:href=":Front:Sign:out" title="Odhlásiť sa">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        <span class="visible-xs-inline">Odhlásiť sa</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container main">
    <div class="row">
        <div class="col-xs-12">
            <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>
            {include content}
        </div>
    </div>
</div>


{block scripts}
    {*<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>*}
    {*<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>*}
    {*<script src="{$basePath}{$filePath}/js/main.js"></script>*}

	<script src="{$basePath}{$filePath}/js/jquery.js"></script>
	<script src="{$basePath}{$filePath}/js/jquery-ui.js"></script>
	<script src="{$basePath}{$filePath}/js/app-admin.js"></script>
{/block}
</body>
</html>
