{form deleteStornoForm}
    <div class="errors" n:if="$form->hasErrors()">
        <p class="alert alert-danger" n:foreach="$form->errors AS $error">{$error}</p>
    </div>
    <div class="text-right">
        {input cancel, class=>'btn btn-default btn-danger'}
        {input yes, class=>'btn btn-default btn-success'}
    </div>
{/form}