{form stornoForm}
    <div class="errors" n:if="$form->hasErrors()">
        <p class="alert alert-danger" n:foreach="$form->errors AS $error">{$error}</p>
    </div>
        {label reason /}
        {input reason, class=>'form-control'}
        <br>
        <div class="text-right">
            {input cancel, class=>'btn btn-default btn-danger'}
            {input yes, class=>'btn btn-default btn-success'}
        </div>
{/form}