{block content}
    <div class="row">
        <div class="col-xs-12">
            <h1 n:block="title">Prehľad zákazníkov</h1>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <div class="col-xs-12">
                <table class="table table-bordered text-center table-detail">
                    <tr class="th-center">
                        <th>Meno</th>
                        <th class="hidden-xs">Telefón</th>
                        <th>IČO</th>
                        <th class="hidden-xs">Adresa</th>
                        <th>Tlačítka akcií</th>
                    </tr>
                    <tr n:foreach="$customers as $customer">
                        {*<td>{$customer->fname} {$customer->lname}</td>*}
                        <td class="hidden-xs">{$customer->phone}</td>
                        <td>{$customer->ico}</td>
                        <td class="hidden-xs">{$customer->address}</td>
                        <td class="no-max-width">
                            <a n:href="Customer:detail $customer->id" class="btn btn-default btn-primary" title="Detail">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                <span class="hidden-xs"></span>
                            </a>
                            <a n:href="Customer:edit $customer->id" class="btn btn-default btn-primary" title="Upraviť">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                <span class="hidden-xs"></span>
                            </a>
                            <a n:href="Customer:delete $customer->id" class="btn btn-default btn-primary" title="Vymazať">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{/block}