{block content}
    <div class="row">
        <div class="col-xs-12">
            <h1 n:block="title">Vymazanie zamestnanca {$customer->phone}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <table class="table table-detail">
                <tr>
                    <th class="width-1"><span class="fa fa-address-book" aria-hidden="true"></span></th>
                    <th>Údaje o zamestnancovi</th>
                </tr>
                {*<tr>*}
                    {*<td class="width-1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>*}
                    {*<td>{$customer->fname} {$customer->lname}</td>*}
                {*</tr>*}
                <tr>
                    <td class="width-1"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></td>
                    <td>{$customer->phone}</td>
                </tr>
                <tr>
                    <td class="width-1"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span></td>
                    <td>{$customer->ico}</td>
                </tr>
                <tr>
                    <td class="width-1"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></td>
                    <td>{$customer->address}</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12 col-md-6">
            {if count($uncloseOrders) == 0}

                <div class="col-xs-12 col-md-6">
                    <p>Naozaj chcete zákazníka <b>{$customer->phone</b> vymazať?</p>
                </div>
                <div class="col-xs-12 col-md-6">
                    {control deleteCustomerForm}
                </div>
                {else}
                    <p>Zákazník má nedokončené objednávky. Pred vymazaním zákazníka ich musíte stornovať.</p>
            {/if}
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12">
            {if count($uncloseOrders) > 0}
                <div class="table-responsive">
                    <table class="table table-bordered text-center table-detail">
                        <tr>
                            <th colspan="11">Nedokončené zákazky</th>
                        </tr>
                        {include tableHead}
                        <tr n:foreach="$uncloseOrders as $order">
                            <td>{$order->order_number}{$order->id}</td>
                            <td>{$order->spz}</td>
                            <td>{$order->customer->phone</td>
                            <td>{$order->car->name}</td>
                            <td>
                                {foreach $order->services as $service}
                                    {$service->name},
                                {/foreach}
                            </td>
                            <td>{$order->priceAfterDiscount} €</td>
                            <td>{$order->startDatetime->format('d.m.Y')}</td>
                            <td class="no-max-width">{if $order->inBox}
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                {else}
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                {/if}
                            </td>
                            <td>{if $order->washed}
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                {else}
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                {/if}
                            </td>
                            <td>{if $order->paid}
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                {else}
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                {/if}
                            </td>
                            <td>
                                {dump $user}
                                <a n:href="Stornos:storno $order->id, $order->customer->id, $user" class="btn btn-action" title="Storno">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            {else}
                <p>Žiadne nedokončené objednávky.</p>
            {/if}
        </div>
    </div>

        {define tableHead}
            <tr class="th-center">
                <th>Číslo objednávky</th>
                <th>ŠPZ</th>
                <th>Zákazník</th>
                <th>Typ auta</th>
                <th>Služba</th>
                <th>Cena</th>
                <th>Zadané</th>
                <th>V boxe</th>
                <th>Umyté</th>
                <th>Zaplatené</th>
                <th>Tlačítka akcií</th>
            </tr>
        {/define}
    </div>
{/block}