{block content}
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <h1 n:block="title">Detail zákazníka {$customer->phone</h1>
        </div>
        <div class="col-xs-12 col-lg-4">
            <table class="table table-detail">
                <tr>
                    <th class="width-1"><span class="fa fa-address-book" aria-hidden="true"></span></th>
                    <th>Podrobnosti o zákazníkovi</th>
                </tr>
                {*<tr>*}
                    {*<td class="width-1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>*}
                    {*<td>{$customer->fname} {$customer->lname}</td>*}
                {*</tr>*}
                <tr>
                    <td class="width-1"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></td>
                    <td>{$customer->phone}</td>
                </tr>
                <tr>
                    <td class="width-1"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span></td>
                    <td>{$customer->ico}</td>
                </tr>
                <tr>
                    <td class="width-1"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></td>
                    <td>{$customer->address}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">

        {if count($bookings) !== 0}
            {include "bookingsTable.latte" bookings=>$bookings}
        {/if}
        {include "orders.latte" closeOrders=>$closeOrders, uncloseOrders=>$uncloseOrders}
        <div class="col-xs-12">
            <hr/>
            <a n:href="Customer:default" class="btn btn-primary btn-default">Späť na prehľad zákazníkov</a>
        </div>
    </div>
{/block}