{block content}
    <div class="row">
        <div class="col-xs-12">
            <h1 n:block="title">Upraviť zákazníka</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {control customerForm}
        </div>
    </div>
{/block}