<div class="col-xs-12">
    <div class="table-responsive">
       {if count($uncloseOrders) > 0}
        <table class="table table-bordered text-center table-detail">
            <tr>
                <th colspan="10">Nedokončené zákazky</th>
            </tr>
            <tr class="th-center">
                <th class="hidden-xs">Číslo zakázky</th>
                <th class="hidden-xs">Zadané</th>
                <th>ŠPZ</th>
                <th class="hidden-xs visible-lg">Typ auta</th>
                <th>Cena</th>
                <th class="hidden-xs">V boxe</th>
                <th class="hidden-xs">Umyté</th>
                <th class="hidden-xs">Zaplatené</th>
            </tr>
            <tr n:foreach="$uncloseOrders as $order">
                {include "ordersTable.latte" order=>$order}
            </tr>
        </table>
        {else}
            <p>Žiadne nedokončené objednávky.</p>
        {/if}
    </div>
</div>

<div class="col-xs-12">
    <div class="table-responsive">
        {if count($closeOrders) > 0}
        <table class="table table-bordered text-center table-detail">
            <tr>
                <th colspan="10">Dokončené zákazky</th>
            </tr>
            <tr class="th-center">
                <th class="hidden-xs">Číslo zákazky</th>
                <th class="hidden-xs">Zadané</th>
                <th>ŠPZ</th>
                <th class="hidden-xs visible-lg">Typ auta</th>
                <th>Cena</th>
                <th class="hidden-xs">V boxe</th>
                <th class="hidden-xs">Umyté</th>
                <th class="hidden-xs">Zaplatené</th>
            </tr>
            <tr n:foreach="$closeOrders as $order">
                {include "ordersTable.latte" order=>$order}
            </tr>
        </table>
        {else}
            <p>Žiadne dokončené objednávky.</p>
        {/if}
    </div>
</div>
