{block content}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h1 n:block="title">Prehľad zákaziek</h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <div class="col-xs-6 col-md-4 col-md-offset-4">
                <a n:href="Order:addCustomerToOrder" class="btn btn-default btn-primary btn-lg pull-left btn-block"
                                           rel="nofollow" title="Pridať zákazku">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-list-alt hidden-lg" aria-hidden="true"></span>
                    <span class="visible-lg-inline">Pridať zákazku</span>
                </a>
            </div>
            <div class="col-xs-6 col-md-4">
                <a n:href="Customer:addCustomer" class="btn btn-default btn-primary btn-lg pull-right btn-block"
                                                 rel="nofollow" title="Pridať zákazníka">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="fa fa-address-book hidden-lg" aria-hidden="true"></span>
                    <span class="visible-lg-inline">Pridať zákazníka</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
            <div class="form-group">
                <input type="text" class="form-control" id="search"  data-url="{link 'Json:search'}"
                placeholder="Hľadaj zákazníka...">
                <div id="autocomplete"></div>
            </div>
        </div>
    </div>
    {include "orders.latte" closeOrders=>$closeOrders, uncloseOrders=>$uncloseOrders}
{/block}