<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-bordered text-center table-detail">
                <tr>
                    <th colspan="10">Nedokončené zákazky</th>
                </tr>
                <tr class="th-center">
                    <th class="hidden-xs">Číslo zakázky</th>
                    <th class="hidden-xs">Zadané</th>
                    <th>ŠPZ</th>
                    <th class="hidden-xs">Zákazník</th>
                    <th class="hidden-xs visible-lg">Typ auta</th>
                    <th>Cena</th>
                    <th class="hidden-xs">V boxe</th>
                    <th class="hidden-xs">Umyté</th>
                    <th class="hidden-xs">Zaplatené</th>
                    <th>Akcie</th>
                </tr>
                <tr n:foreach="$uncloseOrders as $order">
                    {include "ordersTable.latte" order=>$order}
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-bordered text-center table-detail">
                <tr>
                    <th colspan="10">Dokončené zákazky</th>
                </tr>
                <tr class="th-center">
                    <th class="hidden-xs">Číslo zákazky</th>
                    <th class="hidden-xs">Zadané</th>
                    <th>ŠPZ</th>
                    <th class="hidden-xs">Zákazník</th>
                    <th class="hidden-xs visible-lg">Typ auta</th>
                    <th>Cena</th>
                    <th class="hidden-xs">V boxe</th>
                    <th class="hidden-xs">Umyté</th>
                    <th class="hidden-xs">Zaplatené</th>
                    <th>Akcie</th>
                </tr>
                <tr n:foreach="$closeOrders as $order">
                    {include "ordersTable.latte" order=>$order}
                </tr>
            </table>
        </div>
    </div>
</div>