{block content}
	<div class="row">
		{dump $thisShop}
		{if count($daySalesInfo) !== 0}
			<div class="col-sm-10">
				<h1>{$thisShop->name}: Denná tržba {$date}</h1>
			</div>
			<div class="col-sm-2">
				<a n:href="Export:exportSalesByDay $thisShop->id, $date, $month" class="btn btn-primary pull-right">Export</a>
			</div>
		{elseif count($monthSalesInfo) !== 0}
			<div class="col-sm-10">
				<h1>{$thisShop->name}: Mesačná tržba {$month}</h1>
			</div>
			<div class="col-sm-2">
				<a n:href="Export:exportSalesByDay $thisShop->id, $date, $month" class="btn btn-primary pull-right">Export</a>
			</div>
		{else}
			<div class="col-sm-12">
				<h1>Prehľad tržieb</h1>
				<h2>Zadaným kritériám nezodpovedajú žiadne tržby.</h2>
				<p>Vyberte prosím iný dátum alebo mesiac.</p>
			</div>
		{/if}
	</div>
	{dump $date}
	<div class="row">
		<div class="col-md-5 pull-right">
			<div class="btn-group" role="group" aria-label="...">
				{foreach $shops as $shop}
					{if $shop->name != 'admin'}
						<a n:href="Sales:default $shop->id, $date, $month" class="btn btn-default">{$shop->name}</a>
					{/if}
				{/foreach}
			</div>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-md-6">
			<div class="date-chooser">
				{control salesDayForm}
			</div>
		</div>

		<div class="col-md-6">
			<div class="month-chooser">
				{control salesMonthForm}
			</div>
		</div>
	</div>

	{if count($daySalesInfo) !== 0}
		{include salesTable salesInfo=>$daySalesInfo}
        {if count($todayOrders) != 0}
            {include orderTable salesOrders=>$todayOrders}
		{/if}
    {/if}

    {if count($monthSalesInfo) !== 0}
        {include salesTable salesInfo=>$monthSalesInfo}
		{if count($monthOrders) != 0}
        	{include orderTable salesOrders=>$monthOrders}
		{/if}
    {/if}



{/block}

{define tableHead}
	<tr class="th-center">
		<th>Číslo objednávky</th>
		<th>ŠPZ</th>
		<th>Zákazník</th>
		<th>Typ auta</th>
		<th>Služby</th>
		<th>Cena</th>
		<th>Zadané</th>
		{*<th>V boxe</th>*}
		{*<th>Umyté</th>*}
		{*<th>Zaplatené</th>*}
	</tr>
{/define}

{define salesTable $salesInfo}
	<div class="row">
		<div class="col-xs-12 col-lg-4">
			<p>Celková tržba: <span class="big-text">{$salesInfo['sales'] |number:2} €</span></p>
			<p>Počet uplatnených zliav: {$salesInfo['discountCount']}</p>
		</div>

		<div class="col-xs-12 col-lg-4">
			<table class="table table-detail">
				<tr>
					<th class="width-1"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></th>
					<th>Hotovosť</th>
				</tr>
				<tr>
					<td class="width-1">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					</td>
					<td>{$salesInfo['cashCount']}</td>
				</tr>
				<tr>
					<td class="width-1">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					</td>
					<td>{$salesInfo['cashSales'] |number:2} €</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-12 col-lg-4">
			<table class="table table-detail">
				<tr>
					<th class="width-1"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></th>
					<th>Faktúra</th>
				</tr>
				<tr>
					<td class="width-1">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					</td>
					<td>{$salesInfo['invoiceCount']}</td>
				</tr>
				<tr>
					<td class="width-1">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					</td>
					<td>{$salesInfo['invoiceSales'] |number:2} €</td>
				</tr>
			</table>
		</div>
	</div>
{/define}

{define orderTable $salesOrders}
	<h2>Zákazky</h2>
	{foreach $salesOrders as $orders}
		{dump reset($orders)->payment->name}
	<div class="row">
		<div class="col-xs-12">
			{if count($orders) > 0}
			<div class="table-responsive">
				<table class="table table-bordered text-center table-detail">
					<tr>
						<th colspan="10">{reset($orders)->payment->name}</th>
					</tr>
					{include tableHead}
					{include "ordersTable.latte" orders=>$orders}
				</table>
			</div>
			{else}
				<p>Žiadne tržby</p>
			{/if}
		</div>
	</div>
	{/foreach}

{/define}

{include "back.latte"}