{block content}
    <div class="row">
        <div class="col-xs-6 col-md-10">
            <h1 n:block="title">Pridať objednávku</h1>
        </div>
        <div class="col-xs-6 col-md-2">
            <a n:href="Customer:addCustomer" class="btn btn-default btn-primary "
                                             rel="nofollow" title="Pridať zákazníka">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span class="fa fa-address-book hidden-lg" aria-hidden="true"></span>
                <span class="visible-lg-inline">Pridať zákazníka</span>
            </a>
        </div>
    </div>

    <div id="calendar"></div>
    <br>
    <div class="row">
        <div class="col-xs-12">
            {control bookingForm}
        </div>
    </div>
{/block}