{block content}

    <div class="row">
        <div class="col-xs-6 col-md-9">
            <h1 n:block="title">Moje objednávky</h1>
        </div>
        <div class="col-xs-6 col-md-3">
            <a n:href="Booking:addBooking" class="btn btn-default btn-primary btn-lg pull-left btn-block"
                                                 rel="nofollow" title="Pridať objednávku">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-list-alt hidden-lg" aria-hidden="true"></span>
                <span class="visible-lg-inline">Pridať objednávku</span>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered text-center table-detail">

                    <tr class="th-center">
                        <th class="hidden-xs">Číslo objednávky</th>
                        <th class="hidden-xs">Objednané na</th>
                        <th>ŠPZ</th>
                        <th class="hidden-xs">Zákazník</th>
                        <th class="hidden-xs">Služby</th>
                        <th>Cena</th>
                        <th>Zadané</th>
                        <th>Akcie</th>
                    </tr>
                    <tr n:foreach="$bookings as $booking">
                        <td class="hidden-xs">{$booking->booking_number}{$booking->id}</td>
                        <td class="hidden-xs">{$booking->startDatetime->format('d.m.Y H:i')}</td>
                        <td>{$booking->spz}</td>
                        <td class="hidden-xs">
                            <a n:href="Customer:detail $booking->customer->id">{$booking->customer->phone}</a>
                        </td>
                        <td>
                            {foreach $booking->services as $service}
                                {$service->name},
                            {/foreach}
                        </td>
                        <td>{$booking->price |number:2} €</td>
                        <td>{$booking->date->format('d.m.Y')}</td>
                        <td class="no-max-width">
                            <a n:href="Booking:editBooking $booking->id" class="btn btn-action btn-primary" rel="nofollow" title="Upraviť">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                <span class="visible-lg-inline"></span>
                            </a>
                            <a n:href="Booking:detailBooking $booking->id" class="btn btn-action btn-primary" rel="nofollow" title="Detail">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                <span class="visible-lg-inline"></span>
                            </a>
                            <a n:href="Booking:deleteBooking $booking->id" class="btn btn-action btn-primary" rel="nofollow" title="Detail">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                <span class="visible-lg-inline"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{/block}