{block content}
    <div class="row">
        <div class="col-xs-12 col-lg-5 col-lg-offset-3">
            <h1 n:block="title">Prihlásenie</h1>
            {control signInForm}
        </div>
    </div>
{/block}
