{*form passwordForm, class=>'form-horizontal'}
    <div class="errors" n:if="$form->hasErrors()">
        <p class="alert alert-danger" n:foreach="$form->errors AS $error">{$error}</p>
    </div>

    <div class="form-group">
        {label passwordOld, class=>'col-sm-2 control-label' /}
        <div class="col-sm-10">
            {input passwordOld, class=>'form-control'}
        </div>
    </div>
    <div class="form-group">
        {label password, class=>'col-sm-2 control-label' /}
        <div class="col-sm-10">
            {input password, class=>'form-control'}
        </div>
    </div>
    <div class="form-group">
        {label passwordCheck, class=>'col-sm-2 control-label' /}
        <div class="col-sm-10">
            {input passwordCheck, class=>'form-control'}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {input add, class=>'btn btn-primary '}
        </div>
    </div>
{/form*}

{control passwordForm}
